body {
  background-color: rgba(4, 21, 46, 1);
  margin: 0;
  font-family: Arial, sans-serif;
}
/* 
.hero-banner {
 
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
} */
/* 
.banner-content {
  text-align: center;
  padding: 50px 20px;
}

.banner-content h1 {
  font-size: 3rem;
  color: #ff6600;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

.inp {
  padding: 10px 15px;
  font-size: 1rem;
  width: 60%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
